.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: 100vh;
}

.header {
    height: 20vh;
    background-color: rgb(142,124,195);
}

.container1 {
    justify-content: space-between;
    display: flex;
    flex: 1 0;
}

.left {
    width: 30%;
    background-color: rgb(224,102,102);
}

.right {
    width: 30%;
    background-color: rgb(147,196,125);
}

.middle {
    width: 30%;
    background-color: rgb(255,153,0);
}

.box {
    min-height: 100px;
    margin: 10px;   
    border: 3px solid rgb(65, 65, 65) 
}